{% extends 'base.html.twig' %}

{% block title %}CommentArticle index{% endblock %}

{% block body %}
    <h1>CommentArticle index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Date</th>
                <th>Hour</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment_article in comment_articles %}
            <tr>
                <td>{{ comment_article.id }}</td>
                <td>{{ comment_article.content }}</td>
                <td>{{ comment_article.date ? comment_article.date|date('Y-m-d') : '' }}</td>
                <td>{{ comment_article.hour ? comment_article.hour|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_comment_article_show', {'id': comment_article.id}) }}">show</a>
                    <a href="{{ path('app_comment_article_edit', {'id': comment_article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_comment_article_new') }}">Create new</a>
{% endblock %}
