{% extends 'base.html.twig' %}

{% block title %}Insuline index{% endblock %}

{% block body %}
    <h1>Insuline index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type_of_insuline</th>
                <th>Date</th>
                <th>Hour</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for insuline in insulines %}
            <tr>
                <td>{{ insuline.id }}</td>
                <td>{{ insuline.typeOfInsuline }}</td>
                <td>{{ insuline.date ? insuline.date|date('Y-m-d') : '' }}</td>
                <td>{{ insuline.hour }}</td>
                <td>
                    <a href="{{ path('app_insuline_show', {'id': insuline.id}) }}">show</a>
                    <a href="{{ path('app_insuline_edit', {'id': insuline.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_insuline_new') }}">Create new</a>
{% endblock %}
