{% extends 'base.html.twig' %}

{% block title %}Hba1c index{% endblock %}

{% block body %}
    <h1>Hba1c index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Value</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hba1c in hba1cs %}
            <tr>
                <td>{{ hba1c.id }}</td>
                <td>{{ hba1c.value }}</td>
                <td>{{ hba1c.date ? hba1c.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_hba1c_show', {'id': hba1c.id}) }}">show</a>
                    <a href="{{ path('app_hba1c_edit', {'id': hba1c.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_hba1c_new') }}">Create new</a>
{% endblock %}
